/* Larger than mobile */
@media (max-width: 600px) {
  .navbar {
    height: 150px;
  }
  .navbar .branding {
    width: 100%;
  }
  .logo {
    padding-left: 50px;
    margin-bottom: -20px;
  }
  .navbar nav {
    width: 100%;
  }
  .navbar nav a {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    padding: 0;
    width: 30%;
  }
  .headerimg {
    min-height: 100%;
  }
  .headertxt {
  font-size: 25px;
  width:300px;
  text-align: center;
  padding-left:15px;
  padding-top: 5px;
  margin-top: 50px;
  }
  .subheader {
  font-size: 15px;
  text-align: left;
  padding-top:15px;
  padding-left: 35px;
  color:white;
  }
  .macbook {
  display:none;
  }
  .headerbtn{
  margin: 0px 70px 50px;
  }
  .feature1 {
    max-height: 300px;
  }
  .col-right-image {
  max-width: 70%;
  margin-right: 50px;
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 0;
  }
  .col-left-content {
  text-align: left;
  line-height: 1.0;
  padding-left:0;
  margin-left: 29px;
  padding-top:0;
  margin-top: -190px;
  }
  h3 {
  font-size: 18px;
  } 
  .info {
  font-size: 14px;
  }
  .feature2 {
    max-height: 300px;
  }
  .col-left-image {
  max-width: 10%;
  padding-top:0;
  padding-bottom: 0;
  margin-left:45px;
  margin-top: -165px;
  }
  .f2 {
  max-width: 700%;
  }
  .col-right-content {
  float: left;
  padding-top: 0;
  line-height: 1.0;
  margin-top: -205px;
  }
  .header2 {
  text-align: left;
  padding-left: 0;
  margin-left: 42px;
  font-size: 18px;
  }
  .info2 {
  text-align: left;
  padding-left: 0;
  margin-left: 42px;
  font-size:14px;
  }
  .options {
  margin-top: -165px;
  max-width: 40%;
  height: 100%;
  }
  .textfree {
  font-size: 14px;
  font-weight: 800;
  line-height: 2.5;
  }
  .btn1 {
  max-width: 100%;
  font-size: 14px;
  }
  .textfive {
  font-size: 14px;
  font-weight: 800;
  line-height: 2.5;
  }
.btn2 {
  max-width: 100%;
  font-size: 14px;
}
.options .callout {
  display: inline-block;
  margin: 10px auto;
  width: 100%;
}
.options .callout .callout-content {
  text-align: center;
}
.five {
  max-width: 30%;
  float:left;
  margin-left: 10px;
}
.free {
  max-width: 30%;
  float:left;
  margin-left: 10px;
}
.ten {
  max-width: 30%;
  float:left;
  margin-left: 10px;
}
.textten {
  font-size: 14px;
  font-weight: 800;
  line-height: 2.5;
}
.btn3 {
  max-width: 100%;
  font-size: 14px;
}
.freetrial .trial {
  display: block;
}
.inputs {
  max-width: 100%;
  max-height: 90%;
  font-size: 10px;
}
.freetrial {
  max-height: 400px;
  max-width: 100%
}
.tryit {
  margin-top: 10px;
  max-width: 80%;
  font-size: 10px;
}
.start {
  font-size: 18px;
}
.enjoy {
  font-size: 18px;
}
.footer {
  min-height: 70px;
}

/* Larger than phablet */
@media (max-width: 550px) {}

/* Larger than tablet */
@media (max-width: 750px) {}

/* Larger than desktop */
@media (max-width: 1000px) {}

/* Larger than Desktop HD */
@media (max-width: 1200px) {}
